$primary-Strong_cyan: hsl(172, 67%, 45%);

$neutral-Very_dark_cyan: hsl(183, 100%, 15%);
$neutral-Darker_grayish_cyan: hsl(186, 14%, 43%);
$neutral-Dark_grayish_cyan: hsl(184, 14%, 56%);
$neutral-Light_grayish_cyan: hsl(185, 41%, 84%);
$neutral-Lighter_grayish_cyan: hsl(189, 41%, 97%);
$neutral-White: hsl(0, 0%, 100%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: $neutral-Light_grayish_cyan;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
}

input,
button {
  font-size: 24px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

input {
  color: $neutral-Very_dark_cyan;
  background-color: $neutral-Lighter_grayish_cyan;
  direction: rtl;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline-color: $primary-Strong_cyan;
  caret-color: $primary-Strong_cyan;
}

.calculator-wrapper {
  width: 900px;
  > p {
    color: $neutral-Very_dark_cyan;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    letter-spacing: 10px;
    &:nth-of-type(2) {
      margin-bottom: 50px;
    }
  }

  .calculator {
    background-color: $neutral-White;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    gap: 40px;

    p {
      color: $neutral-Darker_grayish_cyan;
      font-weight: 700;
    }

    .tip-input-wrapper {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .bill-wrapper,
      .people-num-wrapper {
        position: relative;
        div {
          position: relative;
          margin-top: 10px;

          img {
            position: absolute;
            top: 15px;
            left: 15px;
          }
        }
      }

      .tip-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        p {
          grid-column: 1/4;
        }

        .btn-tip-percent {
          background-color: $neutral-Very_dark_cyan;
          outline: transparent;

          &::placeholder {
            color: $neutral-White;
          }
          &:hover {
            background-color: $neutral-Light_grayish_cyan;

            &::placeholder {
              color: $neutral-Very_dark_cyan;
            }
          }
        }

        input {
          &::placeholder {
            text-align: center;
          }
        }
      }
    }

    .tip-result-wrapper {
      background-color: $neutral-Very_dark_cyan;
      border-radius: 10px;
      padding: 40px 35px;
      flex: 1.3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .tip-res-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
        .tip-res {
          p {
            color: $neutral-White;

            &:nth-of-type(2) {
              color: $neutral-Dark_grayish_cyan;
              font-size: 14px;
            }
          }
        }

        .tip-res-nums {
          font-size: 45px;
          color: $primary-Strong_cyan;

          svg {
            transform: scale(2);
            margin-bottom: 8px;
            margin-right: 8px;

            path {
              height: 100%;
              fill: $primary-Strong_cyan;
            }
          }
        }
      }

      .btn-reset {
        width: 100%;
        color: $neutral-Very_dark_cyan;
        background-color: $primary-Strong_cyan;
        opacity: 0.2;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.712);

        &:hover {
          background-color: $neutral-Light_grayish_cyan;
          cursor: not-allowed;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.selected-tip {
  color: $neutral-Very_dark_cyan;
  background-color: $primary-Strong_cyan;
}

.error-msg {
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 0;
  font-weight: 700;
  color: #ee796a;
}

.attribution {
  font-size: 12px;
}

.attribution a {
  color: $primary-Strong_cyan;
}

@media screen and (max-width: 920px) {
  .calculator-wrapper {
    width: 350px;
    margin-top: 70px;
    .calculator {
      flex-direction: column;
      padding: 25px;
      .tip-input-wrapper {
        .tip-wrapper {
          grid-template-columns: repeat(2, 1fr);

          p {
            grid-column: 1/3;
          }
        }
      }

      .tip-result-wrapper {
        padding: 20px;
        gap: 10px;
        .tip-res-wrapper {
          margin-bottom: 10px;

          .tip-res {
            p {
              font-size: 13px;

              &:nth-of-type(2) {
                font-size: 11px;
              }
            }
          }

          .tip-res-nums {
            font-size: 30px;

            svg {
              transform: scale(1.3);
              margin-bottom: 3px;
              margin-right: 3px;
            }
          }
        }
        .btn-reset {
          padding: 7px;
          font-size: 16px;
        }
      }
    }
  }

  .error-msg {
    top: initial;
    bottom: -25px;
  }
}
