@media(max-width: 825px){
    .mainContainer{
        width: 375px;
        height: 100vmax;
        padding: 20px 0 50px 0;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 350px;
        border-radius: 0 0 10px 10px;
        padding-bottom: 20px;
        position: relative;
    }

    .image{
        border-radius: 10px 10px 0 0;
        width: 430px;
        height: 290px;
    }
    
    .triangle{
        display: none;
    }

    .shareImg{
        z-index: 1;
        position: relative;
        top: 10px;
    }

    .icons{
        background-color: var(--VeryDarkGrayishBlue);
        width: 380px;
        height: 25px;
        padding: 27px 10px 27px 40px;
        position: absolute;
        left: -253px;
        top: 87px;
        border-radius: 0 0 10px 10px;
        justify-content: left;
        gap: 20px;
    }
}