:root {
    /* Colors */
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    --Whitish: hsl(0, 0%, 100%);
    /* Font */
    --HeadingFontSize: 22px;
    --MainTextFontSize: 14px;
    --ProfileNameFontSize: 14px;
    --HeadingFontWeights: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--VeryDarkGrayishBlue);
    background-color: var(--LightGrayishBlue);
}

.mainContainer{
    height: 94vh;
    width: 100vmax;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center; */
    margin: auto;

}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.image{
    width: 320px;
    height: 315px;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.card {
    width: 400px;
    background-color: var(--Whitish);
    padding: 40px ;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.heading {
    font-weight: var(--HeadingFontWeights);
    font-size: var(--HeadingFontSize);
    margin-bottom: 12px;
}

.mainText {
    font-size: var(--MainTextFontSize);
    margin-bottom: 25px;
}

.mainText > p {
    line-height: 20px;
}

.profile {
    display: flex;
    font-weight: var(--HeadingFontWeights);
    font-size: var(--ProfileNameFontSize);
    position: relative;
}

.profileImg {
    border-radius: 100%;
}

.profileInfo {
    display: inline;
    margin-left: 20px;
}

.profileInfo > p {
    padding: 5px 0;
}

.date {
    font-weight: initial;
    color: var(--GrayishBlue);
}

.shareImg {
    background-color: var(--LightGrayishBlue);
    display: inline-flex;
    padding: 8px;
    border-radius: 100%;
    
}

.shareImg:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 300ms ease-in-out;

}

.imgContainer {
    position: absolute;
    right: 20px;
    top: 10px;
}

.sharePopup {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    left: 59%;
    top: 48%;
}

.icons {
    background-color: var(--VeryDarkGrayishBlue);
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 9px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--VeryDarkGrayishBlue);
    /* if you put bottom same as top shape replicates inverted 
    border-bottom: 10px solid var(--VeryDarkGrayishBlue); */
}

.icons p {
    color: var(--GrayishBlue);
    font-weight: 300;
    font-size: var(--MainTextFontSize);
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer{
    position: relative;
    text-align: center;
    font-size: 10px;
    bottom: 30px;
}

.hidden {
    display: none;
}

.shareActive{
    background-color: var(--DesaturatedDarkBlue);
    fill: var(--LightGrayishBlue);
}
